.header {
  background-color: darkgrey;
  border-bottom: 1px solid #c9e1f0;
  padding-top: 10px;
  overflow: hidden;
}

.leftNav {
  background-color: darkgrey;
  border-right: 1px solid #c9e1f0;
  padding-top: 10px;
  word-wrap: break-word;
  overflow: hidden;
  min-height: 100vh;
}

.mainContent {
  background-color: rgb(200, 194, 194);
  padding-left: 10px;
  padding-top: 10px;
  flex: 1;
  overflow-y: auto;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row.flex-grow-1 {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.leftNav {
  flex: 0 0 200px;
  height: 100%;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
}
