*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

.header {
  background-color: darkgrey;
  border-bottom: 1px solid #c9e1f0;
  padding-top: 10px;
  overflow: hidden; /* Hanterar överflödet i headern */
}

.leftNav {
  background-color: darkgrey;
  border-right: 1px solid #c9e1f0;
  padding-top: 10px;
  word-wrap: break-word; /* Bryter långa ord */
  overflow-y: auto; /* Tillåter vertikal scrollning vid behov */
  flex-shrink: 0;
}

.mainContent {
  background-color: rgb(200, 194, 194);
  padding: 10px;
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row.flex-grow-1 {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.leftNav {
  flex: 0 0 200px;
}

.mainContent {
  flex: 1;
  overflow-y: auto; /* Tillåter vertikal scrollning vid behov */
}
